/* Global styles */
:root{
    --purple: #7c3aed;
    --gray: #cbd5e1;
    --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    font-family: "Roboto", sans-serif;
}


/* Page structure */
body, html{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    display: grid;
    grid-template: 1fr / repeat(5, 1fr);
}

.sidebar-container{
    grid-column: 1 / 2;
    background-color: var(--purple);
}

.main-container{
    grid-column: 2/6;
    display: grid;
    grid-template: repeat(5, 1fr) / 1fr;
    background-color: var(--gray);

}

header{
    grid-row: 1/2;
    box-shadow: var(--shadow);
    background-color: white;
}

main{
    grid-row: 2/6;
}


/* Sidebar */
.logo-container{
    height: 13%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    cursor: pointer;
}

.logo-container img{
    width: 47px;
}

.logo-container p{
    color: white;
    font-size: 1.7rem;
}

.options-container{
    display: flex;
    flex-direction: column;
    height: 60%;
    gap: 50px;
}

.option{
    display: flex;
    align-items: center;
    padding-left: 30px;
    gap: 10px;
    transition: 100ms;
}

.option:hover{
    background-color: #8d56eb;
}

.option img{
    width: 25px;
}

.option p{
    cursor: pointer;
    color: white;
    font-size: 1rem;
}


/* Header */
header{
    display: grid;
    grid-template: repeat(2, 1fr)/ 1fr;
}

.upper-container{
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
}

.lower-container{
    grid-row: 2/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upper-container,
.lower-container{
    padding: 0 40px;
}

/* Upper container */
.search-bar{
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar img{
    width: 25px;
}

.search-bar input{
    width: 500px;
    height: 29px;
    border: none;
    background-color: var(--gray);
    border-radius: 20px;
    font-size: 1rem;
}

.search-bar input:focus{
    outline: none;
    border: 2px solid var(--purple);
}

.profile{
    display: flex;
    align-items: center;
    gap: 30px;
}

.profile-img{
    width: 60px;
    border-radius: 50%;
}

.notification-img{
    width: 30px;
}

.profile p{
    font-size: 1.2rem;
    cursor: pointer;
}

/* Lower container */
.user img{
    width: 70px;
}

.buttons-container{
    display: flex;
    align-items: center;
    gap: 20px;
}

.buttons-container button{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--purple);
    color: white;
}

.buttons-container button:hover{
    background-color: #8d56eb;
}

.user{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.small-text{
    font-size: 0.8rem;
    margin: 0;
}

.big-text{
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0;
}